# ZarrDB
zarr
# MongoDB
pymongo
# ElasticsearchDB
elasticsearch<8.0.0
# ClickHouseDB
clickhouse-driver
# Neo4jDB
neo4j
# ArcticDB
arctic
# AKShareDB
akshare
# TuShareDB
tushare
# MongoDB
pymongo>=3.4.0
# SPARQL
sparqlwrapper