# ZarrDB
zarr
# MongoDB
pymongo
# ElasticsearchDB
elasticsearch
# ClickHouseDB
clickhouse-driver
# Neo4jDB
neo4j
# AKShareDB
akshare
# TuShareDB
tushare
# SPARQL
sparqlwrapper
# TinySoftDB
tspytsl
# DuckDB
duckdb
# QLibDB
pyqlib